body{
	background-color: silver;
	font-size: 30px;
	font-family: Alohomora;
}
header{
	background-image: url(thBSQWENH7.jpg);
	height:100vh;
	background-size:cover;
	background-position: center;
}
h1{
	text-align: center;
	color: orange;
	font-family: Alohomora;
}
p{
	text-align: center;
	color: orange;
	font-family: Alohomora;
}
img{
	width: 400px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	
} 